.learn-heading {
    text-align: center;
    margin-top: 1rem;
}

.learn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}

@media (max-width: 768px) {
    .learn-sec {
        flex-direction: column;
        gap: 2rem;
    }
}

.learn-card {
    width: 370px;
    height: 180px;
    background-color: rgb(236, 248, 251, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-card:hover {
    transform: scale(1.05);
}

.learn-title {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.learn-desc {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}


.learn-btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.learn-btn:hover {
    color: black;
}

.learn-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.learn-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}